@import "../../../node_modules/lux-design-system/dist/system/system.utils.scss";

.absolute-ids {
  &-status {
    margin-top: 2.1rem;
  }

  &-form {
    margin-top: 2.1rem;
  }

  h1 {
    font-size: $font-size-x-large-max;
    font-family: $font-family-heading;
  }
}
