@import "../../../node_modules/lux-design-system/dist/system/system.utils.scss";

.lux-input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 3px;
  display: flex;
  width: auto;

  .lux-input-field {
    box-shadow: inset 0 1px 0 0 rgba(0, 17, 35, .07), 0 0 0 1px #cccfd3;

    input {
      box-sizing: border-box;
      transition: all 0.2s ease;

      /*
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      */
      font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
      color: #001123;
      margin: 0;
      border: 0;
      width: 100%;
          background: white;
              border-radius: 3px;
    }

    &.medium input {
      padding: 9px 16px;
      font-size: 16px;
    }
  }

  .lux-input-status {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.absolute-ids {
  &-status {
    margin-top: 2.1rem;
  }

  &-form {
    display: inline-flex;
    align-items: center;

    &--fields {
      border-width: 0;
    }

    &--status {
      div, ul {
        display: inline-block;
        max-width: 100%;
      }
    }

    &--input-field {
      margin-top: 1.4rem;
      margin-left: 0.7rem;
      margin-right: 0.7rem;

      &.lux-input {
        display: inline-block;

        &[data-v-4d16608c]:last-child {
          margin-bottom: 1.4rem;
        }
      }

      &__invalid {
        div[data-v-4d16608c] input {
          background-color: $color-red !important;
          color: #ffffff !important;
        }

        input {
          background-color: $color-red !important;
          color: #ffffff !important;
        }

      }

      &__validated {
        div[data-v-4d16608c] input {
          background-color: $color-green !important;
          color: #ffffff !important;
        }

        input {
          background-color: $color-green !important;
          color: #ffffff !important;
        }
      }
    }

    &--submit {
      &.lux-button[data-v-b7851b04] {
        margin-top: 4px;
        height: fit-content;
      }
    }
  }

  &-batch-form {
    &__add-batch.lg-12 {
      @media only screen and (min-width: 900px) {
        display: inline-flex;
      }

      display: inline-flex;
    }

    &__submit {
      .lg-12 {
        @media only screen and (min-width: 900px) {
          display: inline-flex;
        }

        display: inline-flex;
        flex-basis: 0;
      }

      &-button {
        float: right;

        &--in-progress {
          &.lux-button.solid[data-v-b7851b04] {
            background-color: $color-yellow;
          }
        }
      }
    }

    &--batch-size {
      div {
        display: inline-flex;
      }
    }

    &--remove {
      &.lux-button.solid[data-v-b7851b04] {
        float: right;
        background-color: $color-red;

        padding-top: 0.95rem;
        padding-bottom: 0.95rem;
      }

      &.lux-button.solid[data-v-b7851b04]:hover {
        background-color: #982813;
      }

      &.lux-button.solid[data-v-b7851b04]:focus {
        background-color: #982813;
      }
    }
  }

  &-session {
    margin-top: 3.35rem;
    margin-bottom: 3.35rem;

    header {
      font-size: 1.8rem;
      font-weight: 600;
      margin-top: 3.35rem;
      margin-bottom: 1.2rem;
    }

    .h2 {
      font-size: 1.85rem;
    }

    .absolute-ids-sync-form {
      display: inline-flex;
      margin-bottom: 1.2rem;

      &__submit {
        &--in-progress {
          &.lux-button.solid[data-v-b7851b04] {
            background-color: $color-yellow;
          }
        }

        &--finished {
          &.lux-button.solid[data-v-b7851b04] {
            background-color: $color-green;
          }
        }
      }
    }
  }

  &-sync-form {
    display: inline-block;
  }

  .lux-data-table {
    width: 100%;

    // This should be removed
    .button {
      &--delete {
        &.lux-button.solid[data-v-b7851b04] {
          background-color: $color-red;
        }
      }
    }

    tbody {
      color: red;
      .row {
        td {
          // Sync. status badges
          .lux-tag-item {
            color: #fff;
            font-size: 0.95rem;
            padding: 0.4rem 0.6rem;
            text-align: center;
            font-weight: 600;
            font-variant: all-small-caps;
          }
        }
      }
    }
  }

  h1 {
    font-size: $font-size-x-large-max;
    font-family: $font-family-heading;
  }
}
