<header role="banner">
  <div class="branding">
    <div class="container">
      <h2><a href="https://library.princeton.edu" title="Princeton University Library - Home" class="site-logo">
          <%= image_tag "library_full_logo.svg", class: "logo-svg", alt: "Princeton University Library" %></a></h2>
    </div>
  </div>
</header>
