html {
  height: 100%;

  .page {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    &__header {
      margin-bottom: 2.1rem;

      .lux-header-content[data-v-47080ee1] {
        max-width: inherit;
      }

      .lux-wrapper[data-v-2f0190c8] {
        margin: inherit;
        margin-left: 2.1rem;
        margin-right: 2.1rem;

        .lux-library-logo[data-v-00d54141] {
          margin: inherit;
          margin-right: auto;
        }
      }
    }

    &__content {
      margin-left: 2.1rem;
      margin-right: 2.1rem;

      display: inline-block;
      min-height: 100%;
    }

    &__footer {
      margin-top: 2.1rem;
    }
  }
}
