html {
  height: 100%;

  body {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;

    header {
      .lux-wrapper[data-v-2f0190c8] {
        max-width: inherit;
        margin: inherit;
        margin-left: 2.1rem;
        margin-right: 2.1rem;

        .lux-library-logo[data-v-00d54141] {
          margin: inherit;
          margin-right: auto;
        }
      }
    }

    main {
      height: 100%;
      margin-left: 2.1rem;
      margin-right: 2.1rem;
    }
  }
}
